<div id="app">
  <form action="" id="form">
  <div class="panel">
    <h1>Cyclesity</h1>
    <h3><small>Find Bike Parking Near:</small></h3>
    <input type="text" placeholder="Current Location">
    </div>
  </form>
  <div id="map"></div>
</div>
